form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%; /* This will override the 400px */
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* If you want a fixed width, comment out the line above */
    /* width: 400px; */
    border-radius: 20px;
    text-align: center;
}

.sty {
  background: #9A292F; /* No quotes around the color */
  color:  #f9f3f3; /* No quotes */
  width: 80%; /* No quotes */
  height: 9vh; /* No quotes */
  max-width: 400px; /* Use hyphen instead of camel case */
  border-radius: 20px; /* Use hyphen instead of camel case */
  margin-left: 50px; /* Use hyphen instead of camel case */
  text-decoration: #ccc;
}




  
  /* Set a style for all buttons */
  button {
    background-color: #db0e0e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }


  

  @media (max-width: 768px) { /* For tablets */
    .container {
      max-width: 90%;
      margin: auto;
    }
    input.form-control {
      width: 100%;
    }
  }

  @media (max-width: 576px) { /* For mobile phones */
    .container {
      max-width: 100%;
      margin: auto;
    }
    input.form-control {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }

  /* In your CSS file */
.custom-width {
  width: 140px; /* Adjust as needed */
  text-align: center;
  margin-left: 5px;
}
@media only screen and (max-width: 768px) {
  /* Tablet view */
  input {
    width: 100%;
    font-size: 16px;
  }

  button {
    width: 100%;
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  /* Mobile view */
  input {
    width: 100%;
    font-size: 14px;
  }

  button {
    width: 100%;
    font-size: 16px;
  }
}


@media (max-width: 576px) {
  .circular-image {
    width: 60px;
    height: 60px;
  }
}







