/* SHOP CARDS CSS */
.shop-card {
    background-color: #9A292F; /* Card background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.2s; /* Animation for hover effect */
  }
  
  .shop-card:hover {
    transform: scale(1.05); /* Scale effect on hover */
  }
  
  .card-img-top {
    border-top-left-radius: 10px; /* Round top left corner */
    border-top-right-radius: 10px; /* Round top right corner */
  }
  
  .rating i {
    margin: 0 2px; /* Space between stars */
  }